@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ebf5fc;
}

.container{
    position: relative;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 110px;
}

.container .card{
    width: 320px;
    margin: 20px;
    padding: 40px 30px;
    border-radius: 40px;
    background: #ebf5fc;
    box-shadow: -6px -6px 20px rgba(255,255,255,1),
                    6px 6px 20px rgba(0,0,0,0.1);
}

.container .card:hover{
    box-shadow: inset -6px -6px 10px rgba(255,255,255,0.5),
                     6px 6px 20px rgba(255,255,255,0.5);
}

.container .card .imgBx{
    position: relative;
    text-align: center;
}

.container .card .imgBx img{
     max-width: 120px;
}
