/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: cursive;
    /* background: #dcdcdc; */
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
   
/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #ebf5fc;
    box-shadow: -6px -6px 20px rgba(255,255,255,1),
                    6px 6px 20px rgba(0,0,0,0.1);
                    
   }
   .nav-links a {
    color: teal;
    
   }
   /* LOGO */
   .logo a {
    font-size: 32px;
    font-weight: bold;
    color: teal;
   }
   
   .logo:hover{
    color: #00ced1;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    margin: 5px;
    padding: 5px;
    /* border: 2px solid red; */
    gap: 1em;
    font-size: 30px;
   }

   .menu li {
    /* border: 2px solid blue; */
    padding: 5px 14px;
    border-radius: 40px;
    color: #32a3b1;
    font-size: 16px;
    text-decoration: none;
    box-shadow: -4px -4px 15px rgba(255,255,255,1),
                    4px 4px 15px rgba(0,0,0,0.1);
   }
   
   .menu li:hover {
    box-shadow: inset -4px -4px 10px rgba(255,255,255,0.5),
    inset 4px 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s ease;
    transform: scale(0.98)
   }
   
   .menu li a{
    font-family: cursive
   }
   
   .menu li a:hover{
    color: #00ced1;
   }

   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: #ebf5fc;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #ebf5fc;
   }
   .services:hover .dropdown {
    display: block;
   }
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:#ebf5fc;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   }
   
   
.content {
    position: absolute;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 97%;
    height: 80%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    /* border: 1px solid blue; */
    box-sizing: border-box;
    background-color: #ebf5fc;
    box-shadow: -4px -4px 15px rgba(255,255,255,1),
    4px 4px 15px rgba(0,0,0,0.1);   
    /* border: 2px solid gray'; */
    display: flex;

}

.content img{
    height: 70%;
    /* margin: 10px; */
    border-radius: 50%;
    
}
  
h1{
    align-items: center;
    /* text-align: center; */
    bottom: 90%;
    position: absolute;
}

.contentBox{
    margin: 5px;
    padding: 5px;
    border: 2px solid red;
    height: 80%;
    width: 80%;
}

